# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# vercel
.vercel
node_modules/webpack/node_modules/.bin/mkdirp.cmd
node_modules/.bin/acorn
node_modules/.bin/acorn
node_modules/.bin/acorn.cmd
node_modules/.bin/ansi-html
node_modules/.bin/ansi-html.cmd
node_modules/.bin/atob
node_modules/.bin/atob.cmd
node_modules/.bin/autoprefixer
node_modules/.bin/autoprefixer.cmd
node_modules/.bin/babylon
node_modules/.bin/babylon.cmd
node_modules/.bin/browserslist
node_modules/.bin/browserslist.cmd
node_modules/.bin/craco
node_modules/.bin/craco.cmd
node_modules/.bin/cssesc
node_modules/.bin/cssesc.cmd
node_modules/.bin/csso
node_modules/.bin/csso.cmd
node_modules/.bin/detect
node_modules/.bin/detect-port
node_modules/.bin/detect-port.cmd
node_modules/.bin/detect.cmd
node_modules/.bin/detective
node_modules/.bin/detective.cmd
node_modules/.bin/errno
node_modules/.bin/errno.cmd
node_modules/.bin/escodegen
node_modules/.bin/escodegen.cmd
node_modules/.bin/esgenerate
node_modules/.bin/esgenerate.cmd
node_modules/.bin/eslint
node_modules/.bin/eslint.cmd
node_modules/.bin/esparse
node_modules/.bin/esparse.cmd
node_modules/.bin/esvalidate
node_modules/.bin/esvalidate.cmd
node_modules/.bin/handlebars
node_modules/.bin/handlebars.cmd
node_modules/.bin/he
node_modules/.bin/he.cmd
node_modules/.bin/html-minifier
node_modules/.bin/html-minifier.cmd
node_modules/.bin/import-local-fixture
node_modules/.bin/import-local-fixture.cmd
node_modules/.bin/internal-ip
node_modules/.bin/internal-ip.cmd
node_modules/.bin/is-ci
node_modules/.bin/is-ci.cmd
node_modules/.bin/jest
node_modules/.bin/jest-runtime
node_modules/.bin/jest-runtime.cmd
node_modules/.bin/jest.cmd
node_modules/.bin/js-yaml
node_modules/.bin/js-yaml.cmd
node_modules/.bin/jsesc
node_modules/.bin/jsesc.cmd
node_modules/.bin/json5
node_modules/.bin/json5.cmd
node_modules/.bin/loose-envify
node_modules/.bin/loose-envify.cmd
node_modules/.bin/miller-rabin
node_modules/.bin/miller-rabin.cmd
node_modules/.bin/mime
node_modules/.bin/mime.cmd
node_modules/.bin/mkdirp
node_modules/.bin/mkdirp.cmd
node_modules/.bin/multicast-dns
node_modules/.bin/multicast-dns.cmd
node_modules/.bin/nanoid
node_modules/.bin/nanoid.cmd
node_modules/.bin/purgecss
node_modules/.bin/purgecss.cmd
node_modules/.bin/rc
node_modules/.bin/rc.cmd
node_modules/.bin/react-scripts
node_modules/.bin/react-scripts.cmd
node_modules/.bin/regjsparser
node_modules/.bin/regjsparser.cmd
node_modules/.bin/rimraf
node_modules/.bin/rimraf.cmd
node_modules/.bin/sane
node_modules/.bin/sane.cmd
node_modules/.bin/semver
node_modules/.bin/semver.cmd
node_modules/.bin/sha.js
node_modules/.bin/sha.js.cmd
node_modules/.bin/sshpk-conv
node_modules/.bin/sshpk-conv.cmd
node_modules/.bin/sshpk-sign
node_modules/.bin/sshpk-sign.cmd
node_modules/.bin/sshpk-verify
node_modules/.bin/sshpk-verify.cmd
node_modules/.bin/strip-indent
node_modules/.bin/strip-indent.cmd
node_modules/.bin/svgo
node_modules/.bin/svgo.cmd
node_modules/.bin/sw-precache
node_modules/.bin/sw-precache.cmd
node_modules/.bin/tailwind
node_modules/.bin/tailwind.cmd
node_modules/.bin/tailwindcss
node_modules/.bin/tailwindcss.cmd
node_modules/.bin/uglifyjs
node_modules/.bin/uglifyjs.cmd
node_modules/.bin/uuid
node_modules/.bin/uuid.cmd
node_modules/.bin/webpack
node_modules/.bin/webpack-dev-server
node_modules/.bin/webpack-dev-server.cmd
node_modules/.bin/webpack.cmd
node_modules/@craco/craco/node_modules/.bin/react-scripts
node_modules/@craco/craco/node_modules/.bin/react-scripts.cmd
node_modules/@craco/craco/node_modules/cross-spawn/node_modules/.bin/node-which
node_modules/@craco/craco/node_modules/cross-spawn/node_modules/.bin/node-which.cmd
node_modules/acorn-jsx/node_modules/.bin/acorn
node_modules/acorn-jsx/node_modules/.bin/acorn.cmd
node_modules/acorn-node/node_modules/.bin/acorn
node_modules/acorn-node/node_modules/.bin/acorn.cmd
node_modules/autoprefixer/node_modules/.bin/browserslist
node_modules/autoprefixer/node_modules/.bin/browserslist.cmd
node_modules/babel-preset-env/node_modules/.bin/browserslist
node_modules/babel-preset-env/node_modules/.bin/browserslist.cmd
node_modules/escodegen/node_modules/.bin/esparse
node_modules/escodegen/node_modules/.bin/esparse.cmd
node_modules/escodegen/node_modules/.bin/esvalidate
node_modules/escodegen/node_modules/.bin/esvalidate.cmd
node_modules/eslint/node_modules/.bin/js-yaml
node_modules/eslint/node_modules/.bin/js-yaml.cmd
node_modules/eslint/node_modules/.bin/mkdirp
node_modules/eslint/node_modules/.bin/mkdirp.cmd
node_modules/eslint/node_modules/.bin/semver
node_modules/eslint/node_modules/.bin/semver.cmd
node_modules/espree/node_modules/.bin/acorn
node_modules/espree/node_modules/.bin/acorn.cmd
node_modules/flat-cache/node_modules/.bin/rimraf
node_modules/flat-cache/node_modules/.bin/rimraf.cmd
node_modules/handlebars/node_modules/.bin/uglifyjs
node_modules/handlebars/node_modules/.bin/uglifyjs.cmd
node_modules/html-minifier/node_modules/.bin/he
node_modules/html-minifier/node_modules/.bin/he.cmd
node_modules/html-minifier/node_modules/.bin/uglifyjs
node_modules/html-minifier/node_modules/.bin/uglifyjs.cmd
node_modules/jest-cli/node_modules/.bin/is-ci
node_modules/jest-cli/node_modules/.bin/is-ci.cmd
node_modules/jest-cli/node_modules/.bin/jest-runtime
node_modules/jest-cli/node_modules/.bin/jest-runtime.cmd
node_modules/jest-cli/node_modules/.bin/which
node_modules/jest-cli/node_modules/.bin/which.cmd
node_modules/jest/node_modules/.bin/jest
node_modules/jest/node_modules/.bin/jest.cmd
node_modules/js-yaml/node_modules/.bin/esparse
node_modules/js-yaml/node_modules/.bin/esparse.cmd
node_modules/js-yaml/node_modules/.bin/esvalidate
node_modules/js-yaml/node_modules/.bin/esvalidate.cmd
node_modules/loader-utils/node_modules/.bin/json5
node_modules/loader-utils/node_modules/.bin/json5.cmd
node_modules/purgecss/node_modules/postcss/node_modules/.bin/nanoid
node_modules/purgecss/node_modules/postcss/node_modules/.bin/nanoid.cmd
node_modules/react-scripts/node_modules/.bin/eslint
node_modules/react-scripts/node_modules/.bin/eslint.cmd
node_modules/react-scripts/node_modules/.bin/jest
node_modules/react-scripts/node_modules/.bin/jest.cmd
node_modules/react-scripts/node_modules/.bin/webpack
node_modules/react-scripts/node_modules/.bin/webpack-dev-server
node_modules/react-scripts/node_modules/.bin/webpack-dev-server.cmd
node_modules/react-scripts/node_modules/.bin/webpack.cmd
node_modules/react-scripts/node_modules/autoprefixer/node_modules/.bin/browserslist
node_modules/react-scripts/node_modules/autoprefixer/node_modules/.bin/browserslist.cmd
node_modules/react-scripts/node_modules/babel-core/node_modules/.bin/babylon
node_modules/react-scripts/node_modules/babel-core/node_modules/.bin/babylon.cmd
node_modules/react-scripts/node_modules/babel-core/node_modules/.bin/json5
node_modules/react-scripts/node_modules/babel-core/node_modules/.bin/json5.cmd
node_modules/react-scripts/node_modules/babel-loader/node_modules/.bin/mkdirp
node_modules/react-scripts/node_modules/babel-loader/node_modules/.bin/mkdirp.cmd
node_modules/react-scripts/node_modules/babel-loader/node_modules/.bin/webpack
node_modules/react-scripts/node_modules/babel-loader/node_modules/.bin/webpack.cmd
node_modules/regjsparser/node_modules/.bin/jsesc
node_modules/regjsparser/node_modules/.bin/jsesc.cmd
node_modules/svgo/node_modules/.bin/csso
node_modules/svgo/node_modules/.bin/csso.cmd
node_modules/svgo/node_modules/.bin/js-yaml
node_modules/svgo/node_modules/.bin/js-yaml.cmd
node_modules/svgo/node_modules/.bin/mkdirp
node_modules/svgo/node_modules/.bin/mkdirp.cmd
node_modules/svgo/node_modules/js-yaml/node_modules/.bin/esparse
node_modules/svgo/node_modules/js-yaml/node_modules/.bin/esparse.cmd
node_modules/svgo/node_modules/js-yaml/node_modules/.bin/esvalidate
node_modules/svgo/node_modules/js-yaml/node_modules/.bin/esvalidate.cmd
node_modules/sw-precache/node_modules/.bin/mkdirp
node_modules/sw-precache/node_modules/.bin/mkdirp.cmd
node_modules/tailwindcss/node_modules/.bin/autoprefixer
node_modules/tailwindcss/node_modules/.bin/autoprefixer.cmd
node_modules/tailwindcss/node_modules/.bin/detective
node_modules/tailwindcss/node_modules/.bin/detective.cmd
node_modules/tmp/node_modules/.bin/rimraf
node_modules/tmp/node_modules/.bin/rimraf.cmd
node_modules/uglifyjs-webpack-plugin/node_modules/.bin/uglifyjs
node_modules/uglifyjs-webpack-plugin/node_modules/.bin/uglifyjs.cmd
node_modules/webpack-dev-server/node_modules/.bin/ansi-html
node_modules/webpack-dev-server/node_modules/.bin/ansi-html.cmd
node_modules/webpack-dev-server/node_modules/.bin/import-local-fixture
node_modules/webpack-dev-server/node_modules/.bin/import-local-fixture.cmd
node_modules/webpack-dev-server/node_modules/.bin/internal-ip
node_modules/webpack-dev-server/node_modules/.bin/internal-ip.cmd
node_modules/webpack-dev-server/node_modules/.bin/webpack
node_modules/webpack-dev-server/node_modules/.bin/webpack.cmd
node_modules/webpack-dev-server/node_modules/del/node_modules/.bin/rimraf
node_modules/webpack-dev-server/node_modules/del/node_modules/.bin/rimraf.cmd
node_modules/webpack/node_modules/.bin/acorn
node_modules/webpack/node_modules/.bin/acorn.cmd
node_modules/webpack/node_modules/.bin/json5
node_modules/webpack/node_modules/.bin/json5.cmd
node_modules/webpack/node_modules/.bin/mkdirp
node_modules/webpack/node_modules/.bin/mkdirp.cmd
